---
import type { InputType } from '../../../types/InputType';

interface Props {
  name: string;
  title?: string;
  type: InputType;
  isRequired?: boolean;
  placeholder?: string;
  value?: string | number;
  isDisabled?: boolean;
}

const { title, type, placeholder, isRequired, name, value, isDisabled } =
  Astro.props;
---

<div class="flex-1 mb-4">
  <label
    for={name}
    class="block text-base font-bold mb-2 capitalize text-black-800 "
  >
    {title ? title : <slot />}
    {isRequired && <span class="text-red-500"> *</span>}
  </label>
  <input
    type={type}
    id={name}
    name={name}
    placeholder={placeholder}
    value={value}
    required={isRequired}
    disabled={isDisabled}
    aria-describedby="helper-text-explanation"
    appearance-none
    step="any"
    class={`w-full p-2.5 border-2 border-gray-400 rounded-lg shadow-sm hover:border-gray-500
      focus:outline-none focus:ring-4 focus:ring-blue-200 focus:border-blue-600 
      transition-all duration-200 placeholder-gray-400
      dark:border-2 dark:border-gray-600 dark:text-white dark:focus:ring-blue-800/40
      dark:focus:border-blue-600 dark:placeholder-gray-500 bg-white
      ${isDisabled ? "dark:bg-gray-700/30 cursor-not-allowed" : "dark:bg-gray-800/30"}
      [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none
      `}
  />
</div>